* {
    font-family: "Hannari";
}
html, body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background: #fffff0; /* Old browsers */
    background: -moz-linear-gradient(top, #fffff0 1%, #ffffe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fffff0 1%,#ffffe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fffff0 1%,#ffffe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffff0', endColorstr='#ffffe0',GradientType=0 ); /* IE6-9 */
}

.header,
.content,
.footer {
    width: 100%;
}

.header,
.footer {
    position:fixed; 
    left: 0px;
    padding: 10px 0;
    background-color: #ff74c6;
    color: #ffffff;
    text-align: center;
    z-index: 9999;
}

.header img{
    width: 50%;
}


.header {
    top: 0px;
}

.footer {
    bottom: 0px;
}

.content {
    margin: 0 auto;
    max-width: 980px;
    padding: 48px 0;
    text-align: center;
}

/* ログイン画面 */
.login-wrap img {
    width: 75%;
    margin: 0 auto;
}
.login-wrap input[type="image"] {
    width: 50%;
    margin: 0 auto;
}
.login-wrap input[type="email"] {
    border: 2px solid #000!important;
}
.login-wrap input[type="password"] {
    border: 2px solid #000!important;
}

/* メイン画面 */
.main-wrap img {
    width: 75%;
    margin: 0 auto;
}
.main-wrap input[type="image"] {
    width: 50%;
    margin: 0 auto;
}
.main-wrap input[type="email"] {
    border: 2px solid #000!important;
}
.main-wrap input[type="password"] {
    border: 2px solid #000!important;
}
.main-wrap #status {
    position: relative;
    bottom: 302px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    color: #0768a2;
}
.main-wrap table th {
    word-break: keep-all;
}
.main-wrap table {
    position: relative;
    bottom: 50px;
}
.main-wrap table {
    position: relative;
    bottom: 50px;
}
.main-wrap.isParent table{ /* 親の時のみ */
    bottom: 0px!important;
    margin-bottom: 30px!important;
}

/* お小遣い登録画面 */
.regist_money-wrap select{
    height: 46px;
    background: #ffffff;
    border: solid 2px #000;
    border-radius: 0px;
}
.regist_money-wrap textarea{
    background: #ffffff;
    border: solid 2px #000;
    width: 60%;
    height: 100px;
}
.regist_money-wrap img {
    width: 50%;
    margin: 0 auto;
}
.regist_money-wrap p {
    width: 100%;
}
.regist_money-wrap h2 {
    width: 100%;
    color: #f7931e;
}

.regist_money-wrap input[type="image"] {
    width: 50%;
    margin: 0 auto;
}
.regist_money-wrap .camera {
    padding: 0px;
    position: relative;
    bottom: 41px;
    width: 41px!important;
    left: 69px;
}

input {
    border: none;
    padding: 10px;
    margin: 10px;
}

button{
    margin: 10px;
    border: none;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

table{
    border-collapse: separate;
    margin: 0 auto;
}

td,th{
    padding: 10px;
    text-align: center;
    border-bottom: dotted 1px #666;
}
th {
    background: #b2ffd8;
}
td {
    background: #d1ffd1;
}


select {
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
}

select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

textarea {
    width: 80%;
    height: 100%;
    border: none;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

input[type=radio]{
    display: none;
}

input[type=radio] + label{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
}

input[type=radio] + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
}

input[type=radio]:checked + label{
color: #009a9a;
}

input[type=radio]:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: #009a9a;
    border-radius: 50%;
}